<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="fileAppenderException"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>\log-mysite\exception.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>\log-mysite\exception.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="fileAppenderMeasExecTime"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>\log-mysite\exec-time.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>\log-mysite\exec-time.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
	</appender>


	<!-- exception(예외) 로그 -->
	<logger name="com.bigdata2017.mysite.exception" level="error" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppenderException" />
	</logger>

	<!-- 실행 시간 측정 로그 -->
	<logger name="com.bigdata2017.mysite.aspect" level="info" additivity="false">
		<appender-ref ref="fileAppenderMeasExecTime" />
	</logger>

	<!-- 루트(글로벌) 로거 -->
	<root level="warn">
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>